.header-container .header-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    padding: 10px 20px;
    background-color: #FCFCFC;
    color: white;
}

.header-container img {
    padding-top: 1rem;
    height:40px;
    width: auto;
}

.user-icon {
    padding-left: 4rem;
    padding-top: 1rem;
    width: auto;
<<<<<<< HEAD
=======
} 

    /* height: 95px; */
    width:auto;
>>>>>>> 74e9c7e734c138195015d6a2b15222acae07e67c
} 

.message-icon {
    padding-top: 1rem;
    width: auto;
    margin-left: auto;
}

.post-icon {
    padding-right: 10px;

.message-icon {
    padding-top: 1rem;
    width: auto;
    margin-left: auto;
}